/dev/DspBridge                                 0666    root    root
/dev/cmt_speech                                0660    root    radio

# sysfs properties
/sys/class/i2c-adapter/i2c-3/3-001d/* poll_delay   0664    root    system
